

.par2 {
    font-size: 25px;
    color: rgb(0, 132, 255);
}

.par3 {
    font-size:  25px; 
    color: rgb(0, 132, 255);
}

.imagem {
    width: 40%;
   background-color: bisque; 
   justify-content: center;

}

.titulo1 {
    text-align: center;
    background-color: blue;
}

.titulo2 { 
    color: aquamarine;
    font-size: 40px;
}