.par1 {
    font-size: 50px;
    background-color: beige;
    text-align: center;
}

.par2 {
    font-size: 20px;
    color: rgb(0, 195, 255);
}

.par3{
    font-size: 20px;
    color: rgb(0, 174, 255);
}
.imagem {
    width: 50%;
   background-color: bisque; 
   text-align: center;
}